@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.card {
  background-image :(linear-gradient(to right, #fff 0%, #ecf0f1 100%));
  box-shadow :(0 3px 10px rgba(0,0,0,0.5));
  
  display: block;
  position: relative;
  margin: 10px 0;
  padding: 20px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.card {
  .card-info {    
    margin-left: 120px;    
  }
}

.card {
  .card-image {
    position:absolute;
    top:20px;
    left:20px;
    background-position: -45px 0;
    background-repeat:no-repeat;
    background-size:cover;
    border:0;    

    width:100px;
    height:100px;
    overflow:hidden;
    position:absolute;
    padding:0;             
  }

  img {
    width: 100px;
    overflow: hidden;
  }
}


.card {
  .card-info {
    .name {
      
      font-size: 28px;
      font-weight: 100;        

      display: inline-block;
      vertical-align: top;
      position: relative;            
    }    
  }
}

.card {
  .card-info {

    .social-network{
      font-size:0;
      
      display:inline-block;
      vertical-align:top;  
      overflow:hidden;
      margin-bottom:15px;
        
      @media(min-width:639px){
        float:right;        
        margin:5px 0 0;
        }
        
        &:before{
          transition: (all .500s cubic-bezier(.19, 1, .22, 1)); 
          border-radius: (16px);
          
          content: "";
          width:32px;
          height:32px;
          display:block;
          position:absolute;
          top:0;
          left:0;
          z-index:1;
        }
            
      }
    }
  }

.card {
  .card-info {
    hr {
      margin:0 0 15px;
    }
    strong {
      font-size: 1.5em;
      font-family: "Roboto", sans-serif;
    }
  }
}
